[submodule "t2"]
	path = t2
	url = git@github.com:juansaab/Raster_ws.git
[submodule "t3"]
	path = t3
	url = git@github.com:juansaab/representation_ws.git
[submodule "t4"]
	path = t4
	url = git@github.com:juansaab/interaction_ws.git
